@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$main-background: #FFFFFF;
$main-theme-color: #2A7AE4;
$main-font: 'Raleway', sans-serif;
$main-font-color: #464646;
$hover-brightness: .6;
$gap-conainers: 4rem;
$main-container-background: #F5F5F5;
$contact-input-padding: .5rem;
$items-gap: 1.5rem;
$contact-label-color: #A2A2A2;
$main-form-input-width: 275px;

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

@mixin display-flex ($main-axis, $cross-axis, $wrap, $direction) {
    align-items: $cross-axis;
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $main-axis;
}

.alert-main-font {
    font-family: $main-font;
}

.alert-confirm-btn {
    background-color: $main-theme-color !important;
    color: $main-background !important;
    font-family: $main-font;
}

.button {
    background: $main-theme-color;
    border: none;
    box-shadow: 0 1px 2px $main-font-color;
    color: $main-background;
    font-family: $main-font;
    font-size: 1em;
    padding: 1em;
    text-align: center;
    transition: 300ms;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.button-secondary {
    background: transparent;
    border: 1px solid $main-theme-color;
    color: $main-theme-color;
    font-family: $main-font;
    padding: 1em;
    text-align: center;
    transition: 300ms;

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
    }
}

.hide-item {
    display: none !important;
}

.input-form {
    background: $main-background;
    border: none;
    color: $main-font-color;
    font-family: $main-font;
    font-size: 1rem;
    line-height: 150%;
    outline: none;
}

.input-container {
    background: $main-background;
    border-radius: 4px;
    box-shadow: 0 1px 1px $main-font-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    padding: $contact-input-padding;
    width: 100%;
}

.input-container__label {
    color: $contact-label-color;
    margin-bottom: .3rem;
    font-size: .8em;
}

.loading-gif-show {
    backdrop-filter: blur(5px);
    display: unset;
    position: absolute;
    height: 100%;
    width: 100%;
}

@media (min-width: 1920px) {
    html {
        font-size: 24px;
    }
}

@media (max-width: 820px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 12px;
    }
}